<div class="main-wrapper">
    
    <!-- layout navbar component -->
    <app-layout-navbar></app-layout-navbar>
    
    
    <div class="content-area">
        <!-- layout header component -->
        <!-- <div class="content-area-top">
            <app-layout-header></app-layout-header>
        </div> -->
        
        <!-- main content area -->
        <div class="content-area-bottom">
            <router-outlet></router-outlet>
        </div>
        
        <!--- footer -->
        <footer class="app-footer">
            <div class="text-center py-3">
                Sarvodaya + Version 0.0.1
            </div>
        </footer>
        
    </div>
</div>
